<div class="mainbanner">
    <div id="main-banner" class="owl-carousel home-slider">
      <div class="item"> <a href="#"><img src="/static/image/banners/banner1.jpg" alt="main-banner1" class="img-responsive" /></a> </div>
      <div class="item"> <a href="#"><img src="/static/image/banners/banner2.jpg" alt="main-banner2" class="img-responsive" /></a> </div>
      <div class="item"> <a href="#"><img src="/static/image/banners/banner3.jpg" alt="main-banner3" class="img-responsive" /></a> </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="cms_banner ">
        <div class="col-md-4 cms-banner-left"> <a href="#"><img height="250" width="250" alt="#" src="/static/image/banners/subbanner11.jpg"></a> </div>
        <div class="col-md-4 cms-banner-middle"><a href="#"> <img height="250" width="250" alt="#" src="/static/image/banners/subbanner21.jpg"></a></div>
        <div class="col-md-4 cms-banner-right"> <a href="#"><img height="250" width="250" alt="#" src="/static/image/banners/subbanner31.jpg"></a> </div>
      </div>
    </div>